{% extends "base.html" %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block title %}
    {% translate "Tasks" %}
{% endblock %}

{% block content %}

    <h1 class="my-4">{% translate "Tasks" %}</h1>

    <div class="d-grid gap-2 d-sm-flex justify-content-sm-left">
        <a href="{% url 'tasks:create' %}" class="btn btn-primary">{% translate "Create task" %}</a>
    </div>
        
    <form method="get" class="card p-3 mb-3 mt-3">

        {% bootstrap_field filter.form.status %}
        {% bootstrap_field filter.form.executor %}
        {% bootstrap_field filter.form.label %}

        {% bootstrap_field filter.form.self_tasks %}

        <div>
            <button type="submit" class="btn btn-primary">
                {% translate "Show" %}
            </button>
        </div>

    </form>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>{% translate "Name" %}</th>
                <th>{% translate "Status" %}</th>
                <th>{% translate "Author" %}</th>
                <th>{% translate "Executor" %}</th>
                <th>{% translate "Date created" %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <td>{{ task.id }}</td>
                <td>
                    <a href="{% url 'tasks:detail' task.pk %}">
                        {{ task.name }}
                    </a>
                </td>
                <td>{{ task.status }}</td>
                <td>{{ task.author }}</td>
                <td>{{ task.executor }}</td>
                <td>{{ task.created_at|date:"d.m.Y H:i" }}</td>
                <td>
                    <a href="{% url 'tasks:update' task.pk %}">
                        {% translate "Edit" %}
                    </a>
                    <br>
                    <a href="{% url 'tasks:delete' task.pk %}">
                        {% translate "Delete" %}
                    </a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="7" class="text-center text-muted">
                    {% translate "No tasks found" %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}